## Testing OLS

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [6]:
# Your code here - remember to use markdown cells for comments as well!

# Load necessary libraries and import the data
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')
data = pd.read_csv('kc_house_data.csv')

data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [7]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [22]:
# Check for duplicated id and see if it is relevant to keep them
data.loc[data.duplicated(['id'], keep=False)].sort_values(by=['id'], ascending=True)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2495,1000102,4/22/2015,300000.0,6,3.00,2400,9373,2.0,0.0,0.0,...,7,2400,0.0,1991,0.0,98002,47.3262,-122.214,2060,7316
2494,1000102,9/16/2014,280000.0,6,3.00,2400,9373,2.0,NaN,0.0,...,7,2400,0.0,1991,0.0,98002,47.3262,-122.214,2060,7316
16800,7200179,10/16/2014,150000.0,2,1.00,840,12750,1.0,0.0,0.0,...,6,840,0.0,1925,0.0,98055,47.4840,-122.211,1480,6969
16801,7200179,4/24/2015,175000.0,2,1.00,840,12750,1.0,0.0,0.0,...,6,840,0.0,1925,NaN,98055,47.4840,-122.211,1480,6969
11422,109200390,10/20/2014,250000.0,3,1.75,1480,3900,1.0,0.0,0.0,...,7,1480,0.0,1980,0.0,98023,47.2977,-122.367,1830,6956
11421,109200390,8/20/2014,245000.0,3,1.75,1480,3900,1.0,0.0,0.0,...,7,1480,0.0,1980,0.0,98023,47.2977,-122.367,1830,6956
12406,123039336,12/8/2014,244900.0,1,1.00,620,8261,1.0,0.0,0.0,...,5,620,0.0,1939,NaN,98106,47.5138,-122.364,1180,8244
12405,123039336,6/11/2014,148000.0,1,1.00,620,8261,1.0,0.0,0.0,...,5,620,0.0,1939,0.0,98106,47.5138,-122.364,1180,8244
7786,251300110,1/14/2015,358000.0,3,2.25,2510,12013,2.0,0.0,0.0,...,8,2510,0.0,1988,0.0,98003,47.3473,-122.314,1870,8017
7785,251300110,7/31/2014,225000.0,3,2.25,2510,12013,2.0,0.0,0.0,...,8,2510,0.0,1988,0.0,98003,47.3473,-122.314,1870,8017
9225,302000375,8/14/2014,169100.0,3,2.00,1050,18304,1.0,0.0,0.0,...,7,1050,0.0,1953,0.0,98001,47.3206,-122.269,1690,15675
9226,302000375,5/6/2015,250000.0,3,2.00,1050,18304,1.0,0.0,0.0,...,7,1050,0.0,1953,0.0,98001,47.3206,-122.269,1690,15675
14842,324000530,3/23/2015,459000.0,3,1.00,1320,5000,1.5,0.0,0.0,...,7,1320,0.0,1912,0.0,98116,47.5711,-122.386,1320,4179
14841,324000530,7/8/2014,201500.0,3,1.00,1320,5000,1.5,0.0,0.0,...,7,1320,0.0,1912,NaN,98116,47.5711,-122.386,1320,4179
7171,526059224,9/23/2014,260000.0,4,1.75,1650,7276,1.0,0.0,0.0,...,7,1010,640.0,1977,0.0,98011,47.7721,-122.206,1840,8550
7172,526059224,2/6/2015,470000.0,4,1.75,1650,7276,1.0,0.0,0.0,...,7,1010,640.0,1977,0.0,98011,47.7721,-122.206,1840,8550
17367,641900050,8/19/2014,335000.0,4,2.25,2160,8817,1.0,0.0,0.0,...,7,1460,700.0,1965,0.0,98133,47.7595,-122.356,1880,8817
17368,641900050,2/6/2015,499950.0,4,2.25,2160,8817,1.0,0.0,0.0,...,7,1460,700.0,1965,0.0,98133,47.7595,-122.356,1880,8817
19536,643300040,11/4/2014,481000.0,4,1.75,1920,9500,1.0,0.0,0.0,...,7,1470,450.0,1966,0.0,98006,47.5683,-122.177,1820,10091
19537,643300040,3/13/2015,719521.0,4,1.75,1920,9500,1.0,0.0,0.0,...,7,1470,450.0,1966,0.0,98006,47.5683,-122.177,1820,10091
15286,705730280,4/21/2015,335000.0,3,2.50,1740,5267,2.0,0.0,0.0,...,7,1740,0.0,1999,0.0,98038,47.3777,-122.023,2180,5000
15285,705730280,8/19/2014,325000.0,3,2.50,1740,5267,2.0,0.0,0.0,...,7,1740,0.0,1999,0.0,98038,47.3777,-122.023,2180,5000
9266,722039087,9/23/2014,220500.0,2,1.00,990,57499,1.0,0.0,0.0,...,6,990,0.0,1949,0.0,98070,47.4145,-122.463,2090,27442
9267,722039087,5/4/2015,329000.0,2,1.00,990,57499,1.0,0.0,0.0,...,6,990,0.0,1949,0.0,98070,47.4145,-122.463,2090,27442
3781,723049156,5/23/2014,149000.0,3,1.00,1700,8645,1.0,0.0,0.0,...,6,1700,0.0,1955,0.0,98146,47.4899,-122.337,1500,7980
3782,723049156,11/12/2014,284700.0,3,1.00,1700,8645,1.0,0.0,0.0,...,6,1700,0.0,1955,0.0,98146,47.4899,-122.337,1500,7980
823,726049190,10/2/2014,287500.0,3,1.00,1810,7200,1.0,0.0,0.0,...,7,1130,680.0,1954,0.0,98133,47.7493,-122.351,1810,8100
824,726049190,2/18/2015,431000.0,3,1.00,1810,7200,1.0,NaN,0.0,...,7,1130,680.0,1954,0.0,98133,47.7493,-122.351,1810,8100
17588,795000620,9/24/2014,115000.0,3,1.00,1080,6250,1.0,0.0,0.0,...,5,1080,0.0,1950,0.0,98168,47.5045,-122.330,1070,6250
17589,795000620,12/15/2014,124000.0,3,1.00,1080,6250,1.0,0.0,0.0,...,5,1080,0.0,1950,0.0,98168,47.5045,-122.330,1070,6250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,8820903380,7/28/2014,452000.0,6,2.25,2660,13579,2.0,0.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.7142,-122.286,1120,8242
718,8820903380,1/2/2015,730000.0,6,2.25,2660,13579,2.0,0.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.7142,-122.286,1120,8242
6428,8832900780,10/13/2014,480000.0,5,2.00,1760,21562,1.0,0.0,1.0,...,8,1560,200.0,1959,NaN,98028,47.7597,-122.263,2150,12676
6429,8832900780,4/8/2015,647500.0,5,2.00,1760,21562,1.0,0.0,1.0,...,8,1560,200.0,1959,0.0,98028,47.7597,-122.263,2150,12676
12907,8910500150,5/29/2014,329932.0,3,1.50,1460,5040,1.0,0.0,0.0,...,7,1100,360.0,1971,0.0,98133,47.7112,-122.357,2330,7560
12908,8910500150,1/20/2015,539000.0,3,1.50,1460,5040,1.0,0.0,0.0,...,7,1100,360.0,1971,0.0,98133,47.7112,-122.357,2330,7560
10215,8945100320,5/6/2014,136500.0,3,1.50,1420,8580,1.0,0.0,0.0,...,6,1420,0.0,1962,NaN,98023,47.3076,-122.362,1200,8580
10216,8945100320,10/8/2014,224097.0,3,1.50,1420,8580,1.0,0.0,0.0,...,6,1420,0.0,1962,0.0,98023,47.3076,-122.362,1200,8580
2974,9136103130,12/1/2014,430000.0,2,1.50,1090,4013,1.5,NaN,0.0,...,7,1090,0.0,1900,0.0,98103,47.6652,-122.338,1390,4013
2975,9136103130,5/12/2015,685000.0,2,1.50,1090,4013,1.5,0.0,0.0,...,7,1090,0.0,1900,NaN,98103,47.6652,-122.338,1390,4013
13010,9211500620,10/8/2014,182700.0,3,2.25,1740,6650,1.0,0.0,0.0,...,7,1240,500.0,1978,0.0,98023,47.2979,-122.379,1740,7000
13011,9211500620,4/28/2015,305000.0,3,2.25,1740,6650,1.0,0.0,0.0,...,7,1240,500.0,1978,0.0,98023,47.2979,-122.379,1740,7000
6366,9222400605,4/11/2015,850000.0,5,4.00,2980,4500,1.5,0.0,0.0,...,7,2070,910.0,1921,0.0,98115,47.6736,-122.323,1560,4225
6365,9222400605,11/15/2014,842500.0,5,4.00,2980,4500,1.5,NaN,0.0,...,7,2070,910.0,1921,0.0,98115,47.6736,-122.323,1560,4225
12820,9238500040,2/10/2015,599000.0,3,2.50,2970,23100,1.0,0.0,0.0,...,7,1510,1460.0,1967,0.0,98072,47.7735,-122.133,2390,20300
12819,9238500040,6/24/2014,400000.0,3,2.50,2970,23100,1.0,0.0,0.0,...,7,1510,1460.0,1967,0.0,98072,47.7735,-122.133,2390,20300
16658,9250900104,4/10/2015,496000.0,5,1.75,2110,8500,1.0,0.0,0.0,...,7,1100,1010.0,1962,NaN,98133,47.7737,-122.350,2020,8500
16657,9250900104,11/10/2014,300000.0,5,1.75,2110,8500,1.0,0.0,0.0,...,7,1100,1010.0,1962,0.0,98133,47.7737,-122.350,2020,8500
4338,9353300600,6/24/2014,348500.0,3,1.50,1360,10726,1.0,0.0,0.0,...,7,1360,0.0,1966,0.0,98059,47.4948,-122.134,1650,10726
4339,9353300600,3/26/2015,370000.0,3,1.50,1360,10726,1.0,0.0,0.0,...,7,1360,0.0,1966,0.0,98059,47.4948,-122.134,1650,10726
2492,9407110710,2/26/2015,322000.0,3,1.75,1510,8400,1.0,0.0,0.0,...,7,980,530.0,1979,0.0,98045,47.4476,-121.771,1500,10125
2491,9407110710,11/7/2014,195000.0,3,1.75,1510,8400,1.0,0.0,0.0,...,7,980,530.0,1979,0.0,98045,47.4476,-121.771,1500,10125
4918,9809000020,3/13/2015,1940000.0,5,2.25,3120,16672,2.0,0.0,0.0,...,9,3120,0.0,1969,0.0,98004,47.6458,-122.219,3740,17853
4917,9809000020,5/13/2014,1900000.0,5,2.25,3120,16672,2.0,0.0,0.0,...,9,3120,0.0,1969,NaN,98004,47.6458,-122.219,3740,17853
6340,9828200460,1/6/2015,430000.0,2,1.00,700,4800,1.0,0.0,0.0,...,7,700,0.0,1922,0.0,98122,47.6147,-122.300,1440,4800
6339,9828200460,6/27/2014,260000.0,2,1.00,700,4800,1.0,0.0,0.0,...,7,700,0.0,1922,0.0,98122,47.6147,-122.300,1440,4800
15186,9834200305,2/10/2015,615000.0,3,1.00,1790,3876,1.5,0.0,0.0,...,7,1090,700.0,1904,0.0,98144,47.5750,-122.288,1360,4080
15185,9834200305,7/16/2014,350000.0,3,1.00,1790,3876,1.5,0.0,0.0,...,7,1090,?,1904,0.0,98144,47.5750,-122.288,1360,4080
1084,9834200885,7/17/2014,360000.0,4,2.50,2080,4080,1.0,0.0,0.0,...,7,1040,1040.0,1962,0.0,98144,47.5720,-122.290,1340,4080
1085,9834200885,4/20/2015,550000.0,4,2.50,2080,4080,1.0,0.0,0.0,...,7,1040,1040.0,1962,0.0,98144,47.5720,-122.290,1340,4080

In [23]:
# Conclusion : It seems like the properties listed have been sold multiple times during the period.
# It might be helpful to keep the information and not drop the duplicated values has they happen in different times.

In [10]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [4]:
# Drop id columns
reduced_data = data.iloc[:,1:20]

In [5]:
reduced_data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15
0,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340
1,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690
2,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720
3,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360
4,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

fig, axes = plt.subplots(nrows=1, ncols=4, figsize=(16,3))

for xcol, ax in zip(['acceleration', 'displacement', 'horsepower', 'weight'], axes):
    data.plot(kind='scatter', x=xcol, y='mpg', ax=ax, alpha=0.4, color='b')

In [ ]:
# For all the variables, check distribution by creating a histogram with kde
for column in ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors', 'sqft_above', 'yr_built', 'grade']:
    data[column].plot.hist(density=True, label = column+' histogram')
    data[column].plot.kde(label =column+' kde')
    plt.legend()
    plt.show()

In [ ]:
import seaborn as sns

# g = sns.PairGrid(data,
#                  y_vars=["price"],
#                  x_vars=['bedrooms', 'bathrooms', 'sqft_living', 'floors', 'sqft_above', 'yr_built', 'lat', 'long'],
#                  hue="price",
#                  palette="GnBu_d")
# g = sns.PairGrid(data,
#                  y_vars=['price'],
#                  x_vars=['sqft_living', 'sqft_above'],
#                  hue="price",
#                  palette="GnBu_d")
# g.map(sns.regplot);

g = sns.PairGrid(data, y_vars=['price'], x_vars=['sqft_living', 'sqft_above', 'grade', 'bedrooms'], height=6)
g.map(sns.regplot)

In [ ]:
# visualize the relationship between the preditors and the target using scatterplots
indie_vars = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors', 'sqft_above', 'yr_built', 'lat', 'long']
# fig = plt.figure(figsize=(10, 6))
# for idx, channel in enumerate(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors', 'sqft_above', 'yr_built']):
# fig, axs = plt.subplots(10, 2, sharey=True, figsize=(18, 6))
# print(axs[0])
print(len(indie_vars) // 2 + 1)
num_lines = len(indie_vars)//2 + 1
fig = plt.figure(figsize=(10, 10))
for idx, channel in enumerate(indie_vars):
#     fig, axs = plt.subplots(1, len(indie_vars), sharey=True, figsize=(18, 6))
    print(idx)
    plt.subplot(num_lines, 2, idx + 1)
#     data.plot(kind='scatter', x=channel, y='price', ax=axs[idx], label=channel)
#     data.plot(kind='scatter', x=channel, y='price', label=channel)
    plt.scatter(data=data, x=channel, y='price', label=channel)
plt.legend()
plt.show()

In [ ]:
# import libraries
import statsmodels.api as sm
import statsmodels.formula.api as smf

# build the formula 
f = 'price~sqft_above'
# create a fitted model in one line
model = smf.ols(formula=f, data=data).fit()

In [ ]:
model.summary()

In [ ]:
data['long'].isna().sum()

In [ ]:
data[data['bedrooms'] > 10]

In [ ]:
data['zipcode'].value_counts()

In [ ]:
import numpy as np

price_arr = np.array(data['price'])
sqft_living_arr = np.array(data['sqft_living'])


plt.plot(x=sqft_living_arr[:,np.newaxis] , y=price_arr[:,np.newaxis])
g = sns.pairplot(
    data,
    y_vars=price_arr,
    x_vars=sqft_living_arr,
    hue="zipcode",
    palette="Set2",
    diag_kind="kde",
    height=2.5)

# g = sns.pairplot(
#     data,
#     y_vars=['price'],
#     x_vars=['sqft_living', 'sqft_above', 'floors', 'bedrooms'],
#     hue="zipcode",
#     palette="Set2",
#     diag_kind="kde",
#     height=2.5)

In [ ]:
g = sns.FacetGrid(data, col="zipcode", col_wrap=4)
g.map(plt.scatter, "sqft_living", "price", alpha=.7)
g.set(xlim=(0, 6000), ylim=(0, 3000000))
g.set_xlabels('')
g.set_ylabels('Property price')

for ax in g.axes:
    plt.setp(ax.get_xticklabels(), visible=True, rotation=45)

plt.subplots_adjust(hspace=0.3)

plt.show()